# ==== Data ====
raw_dataset/
sae_embeddings/
*.h5
*.npz
*.vtk
*.vtu
*.csv

# ==== Training outputs ====
outputs/
checkpoints/
*.pt
*.ckpt
*.pth
sae_interp/checkpoints_rand_3e-4/
sae_interp/figures

# ==== sbatch scripts ====
*.sh

# ==== Slurm logs ====
*.out
*.err

# ==== WandB ====
wandb/
*.wandb

# ==== Python ====
__pycache__/
*.pyc

# ==== Hydra ====
.multirun/
hydra/

# ==== Misc ====
*.log
*.png
*.mp4
.DS_Store

# ==== Exceptions ====
!sae_interp/checkpoints_rand_3e-4_long/
!sae_interp/checkpoints_rand_3e-4_long/*.pt
!sae_interp/checkpoints_rand_3e-4_long/*.csv
!sae_interp/checkpoints_rand_3e-4_long/*.png
